<%- include('../partials/header.ejs') %> 

<%- include('../partials/search.ejs') %> 


<div class="col main pt-9 mt-3 p-10 ml-5">
    <h1 class="display-4 d-none d-sm-block">

     <hr>

     <% if(alljob){%>
    <% if((alljob.length) ==0){%>
        <h1>Sorry, you didn't posted any job yet!</h1>
    <% }else{ %>
    <% for(let i=0;i<alljob.length; i++) { %>
    <div class="row mb-5">
        <div class="col-xl-5">
            <div class="card bg-success text-dark h-100">
                <div class="card-body bg-light">
                    <div class="rotate">
                        <h6>Company Name:<%= alljob[i].postuserid.companyname %> </h6>
                        <h6>Job Title:<%= alljob[i].jobtitle %> </h6>
                        <h6>Job level :<%= alljob[i].jobexperiencelevel%></h6>
                        <h6>Post at :<%= alljob[i].jobpostdate %></h6>
                       <h5><%= moment(alljob[i].jobexpire).diff(moment(),'days') %></span>days %></h5> 
                    </div>
                    <h6 class="text-uppercase"><%= alljob[i].skills %> </h6>
                     <div class="items-link items-link2 f-right">
                                        <span><%= moment(alljob[i].jobpostdate,"dddd, MMMM Do YYYY, h:mm:ss a").fromNow() %></span>
                                       
                    </div>
                    <div class="rotate " >
                        <a href="/company/editjob/" class="btn btn-primary btn- active" role="button" aria-pressed="true">Apply</a>
                    </div>
                    
                </div>
            </div>
        </div>
     </div>
   <% } %>
    <% } %>
    
<% } %>

         
 
<%- include('../partials/fotter.ejs') %> 