<div class="container ml-5 pt-5">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
      
               <a href="/" class="list-group-item list-group-item-action <%= path ==='/' ? 'active':'' %>">Dashboard</a>
              <a href="/jobseeker/profile"class="list-group-item list-group-item-action <%= path ==='/jobseeker/profile' ? 'active':'' %>">My Profile</a>
              <a href="/jobseeker/applliedjob" class="list-group-item list-group-item-action <%= path ==='/jobseeker/applliedjob' ? 'active':'' %>">Applied Job</a>
              <a href="/jobseeker/matchingjob" class="list-group-item list-group-item-action <%= path ==='/jobseeker/matchingjob' ? 'active':'' %>">Matching Job</a>
              <a href="/employer/searchjobid %>  " class="list-group-item list-group-item-action <%= path ==='/joobseeker/dashboard' ? 'active':'' %>">Search Job List</a>
			        <a href="/employer/changepassword" class="list-group-item list-group-item-action <%= path ==='/employer/dashboard' ? 'active':'' %>">Change Password</a>
              <a href="/jobseekerlogout" class="list-group-item list-group-item-action <%= path ==='/jobseeker/jobseekerlogout' ? 'active':'' %>">Logout</a>
            </div> 
		</div>