<%- include('../partials/header.ejs') %> 
<%- include('../partials/menu.ejs') %>
<div class="col main  ">
    <h5 class="display-4 d-none d-sm-block pr-2">
     Dashboard
    </h5>
   <br>
    <div class="row mb-3">
        <div class="col-md-4 col-sm-3 ">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Total JOB</h6>
                    <h1 class="display-4"><%=count %> </h1>
                </div>
            </div>
        </div>
        <br>
        <br>
    
        <% result.forEach(function(dat) { %>
            <div class="col-xl-4 col-sm-5 ">
                <div class="card text-white bg-danger h-100">
                    <div class="card-body bg-danger">
                        <div class="rotate">
                            <i class="fa fa-list fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase"> <%= dat._id %> </h6>
                       
                        <h1 class="display-4"><%= dat.count %> </h1>
                    </div>
                </div>
            </div>
            <% }); %>
    <br>

            
       
           
            
       

        
<%- include('../partials/fotter.ejs') %> 
