<%- include('../partials/header.ejs') %> 

<div class="container-fluid bg-light ">
  <form action="/employer/filtersearch" method="POST"> 
  <h5>Search By Category</h5>
  <hr>
  <div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">
                     <div class="form-group">
                          <input type="text" id="searchjob" name="title" class="form-control" placeholder="Search by Jobtitle" style="width:100%" >
                        
                       </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                          <select id="inputState" class="form-control" name="experiencelevel">
                            <option value="" selected disabled hidden> Choose Experience Level</option>
                        <option value="Beginners">Beginners</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Expert">Expert</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-md-2 pt-3">
                        <div class="form-group">
                          <select id="inputState" class="form-control"  name="jobtype">
                            <option value="" selected disabled hidden> Choose Job Type</option>
                      <option value="Public Limited">Full Time</option>
                      <option value="Private Limited">Part Time</option>
                      <option value="PartnerShip">FreeLance</option>
                      <option value="NGO">Intership</option>
                      <option value="NGO">Hourly Paid</option>
                      </select>
                          </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                     <button type="submit" class="btn btn-primary btn-block">Search</button>
                   
                  </div>
              </div>

                    
            </form>                       
          </div>

<%- include('../partials/menu.ejs') %> 

<div class="col-md-9 pr-10">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
          </div>
         
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                     
                      <th>Job Title </th>
                      <th>Posted Date</th>
                      <th>Expire Date </i></th>
                      <th>Experience Level</th>
                      <th>Job Type</i></th>
                      <th>Remaning days</i></th>
                      <th>Actions</th>
                  </tr>
              </thead>

              <tbody>
               
                <%if (getpostjob.length >0){ %>
                  <% getpostjob.forEach(function(row){ %>
                  <tr>
                    
                      <td><%= row.jobtitle %></td>
                      <td><%= row.jobpostdate %></td>
                      <td><%= row.jobexpire %></td>
                      <td><%= row.jobexperiencelevel %></td>
                      <td><%= row.jobtype %></td>
                      <td> <%= moment(row.jobexpire).diff(moment(),'days') %> days</td>
                      <td>
                       
                          <a href="/employer/editjob/<%= row._id%> " class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                          <a href="/employer/deletejob/<%=row._id %> " class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                      </td>
                  </tr>
                  <% })}else{ %>
                    <tr>
                      <td colspan="6">No Record Found</td>
                      
                    </tr>
                  <% } %>
                          
              </tbody>
              
          </table>  
       </div>  
     
</div> 


<script>
  $(function(){
 $('#searchjob').autocomplete({
 source: function(req,res){
   $.ajax({
     url:"autocomplete/",
     dataType:"jsonp",
     type:"GET",
     data:req,
     success: function(data){
       res(data)
     },
     error: function(err){
       console.log(err.status);
     }
   });
 },
 minLength:1,
 select: function(event,ui){
   if(ui.item){
     $('#searchjob').val(ui.item.label);
   }
 }
 });
   });
   </script> 
    